<!-- counter  -->
<div class="counter p-lg-4">
    <div class=" p-2  text-center row">
     <div class="counter__content col-md-3">
       <h1>40+</h1>
       <p>Online Courses</p>
     </div>
     <div class="counter__content col-md-3">
       <h1>560+</h1>
       <p>Gym Equipments</p>
     </div>
     <div class="counter__content col-md-3">
       <h1>20+</h1>
       <p>Online Instructores</p>
     </div>
     <div class="counter__content col-md-3">
       <h1>300+</h1>
       <p>Satisfied Customers</p>
     </div>
    </div>
  </div>