<!-- courses -->
<div class="courses-title text-center ">
    <h3 class="text-primary">popular courses</h3>
    <h1>Latest Online Courses</h1>
  </div>
  <div class="courses row justify-content-center">
    <div class="card container bg-transparent col-7 col-sm-5  col-md-3  border" >
      <img class="card-img-top" src="/images/img-1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> Weight lifting and Diet Planing Classes</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card bg-transparent  col-7  col-sm-5 col-md-3  border" >
      <img class="card-img-top" src="/images/img-2.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> Weight lifting and Diet Planing Classes</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card bg-transparent col-7 col-sm-5  col-md-3  border">
      <img class="card-img-top" src="/images/img-3.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Weight lifting and Diet Planing Classes.</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  
  </div>
  <div class="courses row justify-content-center">
    <div class="card container bg-transparent col-7 col-sm-5  col-md-3  border" >
      <img class="card-img-top" src="/images/img-4.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> Weight lifting and Diet Planing Classes</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card bg-transparent  col-7  col-sm-5 col-md-3  border" >
      <img class="card-img-top" src="/images/img-5.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> Weight lifting and Diet Planing Classes.</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <div class="card bg-transparent col-7 col-sm-5  col-md-3  border">
      <img class="card-img-top" src="/images/img-6.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> Weight lifting and Diet Planing Classes</p>
        <a href="#" class="btn btn-primary">Read More</a>
      </div>
    </div>
  
  </div>