<footer class="p-3 ps-4 row ">
    <!-- cols1 -->
<div class="media text-white col-md-2">
    <h5>Quick links</h5>
    <ul class="list-unstyled">
        <li> <strong >></strong> home</li>
        <li><strong >></strong> about </li>
         <li> <strong >></strong> courses </li>
        <li>  <strong>></strong> pricing </li>
        <li>  <strong>></strong> team </li>
        <li>  <strong>></strong> blogs </li>
       </ul>
</div>
<!-- col2 -->
<div class="media text-white col-md-4">
    <h5>Contact info</h5>
    <ul class="list-unstyled">
        <li> <span ><img src="/phone-solid.svg" ></span> +124-86-087-409 </li>
        <li><span ><img src="/phone-solid.svg" ></span> +173-76-787-879 </li>
        <li> <span ><img src="/envelope-solid.svg" ></span> shaokane@gmail.com </li>
        <li><span ><img src="/location-pin-solid.svg" ></span> mumbai , india -45149</li>
       
       </ul>
</div>
<!-- col3 -->
<div class="media text-white col-md-2">
    <h5>Follow Us</h5>
    <ul class="list-unstyled">
        <li> <span ><img src="/facebook-brands.svg" ></span>facebook </li>
        <li><span ><img src="/twitter-brands.svg" ></span>twitter </li>
        <li> <span ><img src="/instagram-brands.svg" ></span>instagram </li>
        <li><span ><img src="/linkedin-brands.svg" ></span> linkedin</li>
       </ul>
</div>
<!-- cols4 -->
<div class="media text-white col-md-4">
    <h5>Newsletter</h5>
    <h6 class="fw-normal">Subscribe For Latest Updates</h6>
    <div class="form-group">
        <input type="email" class="form-control w-75 my-4 bg-transparent"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn text-white btn-primary">Subscribe</button>
    </form>
</div>
</footer>