<!-- joinsUs -->
<div class="JoinUs container-lg mx-lg-auto  row ">
    <!-- image -->
    <img src="/images/join-us-image.png" class="   col-md-6 img-fluid JoinUs__img">
    <div class="joinUs__content text-center align-self-center  text-md-start col-md-5 ms-3">
        <p>Join With Us</p>
        <h1>Join Us & Get To 50% Off</h1>
      <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem aspernatur fugiat ullam voluptas eius </p>
      <button class="btn mt-2 px-4 text-white btn-primary">Join Now</button>
    </div>
  </div>