<!-- Our Team -->
<div class="OurTeam text-center row container-lg mx-auto">
    <div class="team col-md-4">
        <img src="/images/team-1.jpg" class="w-100 h-100" >
        <div class="roll bg-white p-2  rounded">
            <p class="text-primary m-0">expert trainner</p>
            <h2 class="mt-0">anna chris</h2>
        </div>
    </div>
    <!-- cols2 -->
    <div class="team col-md-4">
        <img src="/images/team-2.jpg" class="w-100 h-100" >
        <div class="roll bg-white p-2  rounded">
            <p class="text-primary m-0">expert trainner</p>
            <h2 class="mt-0">Josh lee</h2>
        </div>
    </div>
    <!-- cols3 -->
    <div class="team col-md-4">
        <img src="/images/team-3.jpg" class="w-100 h-100" >
        <div class="roll bg-white p-2  rounded">
            <p class="text-primary m-0">expert trainner</p>
            <h2 class="mt-0">line luk</h2>
        </div>
    </div>
</div>